.equipment-section {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
  }
  
  .equipment-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    justify-items: center;
  }

.no-equipment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #666;
}