.equipment-section {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
  }
  
  .equipment-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }